.name {
    text-align: center;
    color: black;
    text-decoration: underline;
    }

.edu {
    text-align: center;
    color: black;
    text-decoration: underline;
}

.univer {
    text-align: center;
    color: black;
    text-decoration: underline;
}
.info {
    text-align: center;
    color: black;
    text-decoration: underline;
}

.work {
    text-align: center;
    color: black;
    text-decoration: underline;
}